@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Great+Vibes&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Pacifico&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Playwrite+DE+SAS:wght@100..400&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Vend+Sans:ital,wght@0,300..700;1,300..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

html {
    scroll-behavior: smooth;
    scrollbar-color: rgba(198, 165, 114, 1) #222;
    scrollbar-width: thin;
}

body {
    height: 100vh;
    width: 100%;
    background-color: rgb(31, 29, 27);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    overflow-x: hidden;
}

.p-t-content {
    min-height: 100vh;
    width: 100%;
}

.p-t-container {
    width: 56rem; 
    margin: 0 auto;
    padding: 2.5rem 1rem; 
}

.p-t-header { 
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 35px; 
}

.p-t-header a.go-back-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 130px;
    height: 50px;
    gap: 10px;
    padding: 2px 4px;
    cursor: pointer;
    border: 2px solid rgba(198, 165, 114, 1);
    color: rgba(198, 165, 114, 1);
    background: transparent;
    font-size: 16px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(1, 1, 1, 0.3);
    transition: all 0.3s ease;
    outline: none;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
}

.p-t-header .go-back-button:hover {
    background-color: rgba(255, 255, 255, 0.15);
}

.p-t-header h1 {
    font-size: 2.25rem; 
    line-height: 2.5rem; 
    font-weight: 700;
    color: white;
    margin-top: 5px;
}

.p-t-header p {
    color: rgba(198, 165, 114, 1);
}

.p-t-box-group {
    display: flex;
    flex-direction: column;
    color: white;
    gap: 35px;
}

.p-t-box {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 24px;
    border-radius: 12px;
    border: 1px solid rgba(198, 165, 114, 0.5);
}

.p-t-box p {
    color: rgba(255, 255, 255, 0.85);
}

.p-t-box ul {
    display: flex;
    flex-direction: column;
    margin-left: 40px;
    gap: 12px;
    color: rgba(255, 255, 255, 0.85);
}

.p-t-box a {
    color: rgba(198, 165, 114, 1);
    text-decoration: none;
    font-weight: 600;
}

.p-t-box a:hover {
    text-decoration: underline;
}